<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="NetSalesContext" connectionString="Data Source=37.230.108.251;Initial Catalog=AlinteriDb;Integrated Security=false;User Id=alinteri;Password=r*6M25wa;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>